@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .pixelated {
    image-rendering: pixelated;
  }

  .character-red {
    background-position-y: -16px;
  }

  .character-orange {
    background-position-y: -32px;
  }

  .character-yellow {
    background-position-y: -48px;
  }

  .character-green {
    background-position-y: -64px;
  }

  .character-purple {
    background-position-y: -80px;
  }

  .character-direction-right {
    background-position-x: 16px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.game-container {
  @apply relative w-60 h-52 scale-[3];
  background: url(/map.png) no-repeat no-repeat;
  image-rendering: pixelated;
}

.grid-cell {
  @apply absolute w-4 h-4;
}
